<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>
  
  <test name=" Tests">
        <classes> <!-- -->
        	<class name="com.npcdmlhealthcare.tests.login.DoctorLoginTest"/> 
        	
            <class name="com.npcdmlhealthcare.tests.appointment.AppointmentTest"/> 

            <class name="com.npcdmlhealthcare.tests.login.PatientRegistrationTest"/> 

            <class name="com.npcdmlhealthcare.tests.appointmentmail.AppointmentEmailTest"/>
            
            <class name="com.npcdmlhealthcare.tests.login.PatientLoginTest"/>
            
            <class name="com.npcdmlhealthcare.tests.login.ChatBotTest"/>
            
                        
              
               
              
        </classes>
    </test>
    
    
</suite> <!-- Suite -->
